lion-pytorch 
pytorch-lightning==2.0.4
git+https://github.com/vballoli/nfnets-pytorch
basicsr
albumentations
IPython
scipy
pandas
opencv-python
pillow
wget
tfrecord
x-transformers
adamp
efficientnet_pytorch
tensorboardX
vit-pytorch
swin-transformer-pytorch
madgrad
git+https://github.com/huggingface/pytorch-image-models
pillow-avif-plugin
kornia
omegaconf
git+https://github.com/styler00dollar/piq.git
--extra-index-url https://download.pytorch.org/whl/nightly/cu121
torch==2.1.0.dev20230626+cu121
torchvision==0.16.0.dev20230626+cu121
torchaudio==2.1.0.dev20230626+cu121
pytorch-optimizers